@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.sign-up {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .popup {
        width: 30%;
        height: 20%;
        position: absolute;
        border: 2px solid $wish-dark-grey;
        background: #fff;
        border-radius: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(max-width: 750px) {
            width: 80%;
        }

        .title {
            font-family: 'elsie';
            text-align: center;
            margin: 20px 0;
        }

        .loadingAnim {
            margin-top: 20px;
            width: 80%;
            height: 5px;
            border-radius: 10px;
            background: $wish-blue;
            position: relative;
        }

        .loadingAnim::after {
            content: "";
            width: 100%;
            height: 100%;
            background: #fff;
            position: absolute;
            top: 0;
            -webkit-animation: load 5s ease-in-out;
            animation: load 5s ease-in-out;
        }
    }

    @-webkit-keyframes load {
        0% {
            left: 100%;
        }

        100% {
            left: 0;
        }
    }

    @keyframes load {
        0% {
            left: 100%;
        }

        100% {
            left: 0;
        }
    }

    .sign-up-content {
        width: 500px;
        min-height: 600px;
        border: 3px solid $wish-dark-grey;
        box-shadow: 0 0 15px $wish-dark-grey;
        border-radius: 20px;
        overflow: hidden;

        .top {
            background: $wish-blue;
            display: flex;
            justify-content: center;

            .logo {
                width: 200px;
                height: 200px;
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 50%;
                overflow: hidden;
            }
        }

        .section {
            padding: 30px;

            h1 {
                text-align: center;
                font-family: 'elsie';
            }

            .reg-title {
                text-align: center;
                font-family: 'roboto';
            }

            form {
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;

                .check {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    font-family: 'roboto';
                    gap: 10px;
                    position: relative;

                    ::after {
                        width: 100%;
                        height: 2px;
                        content: "";
                        background: $wish-dark-grey;
                        position: absolute;
                        top: 50%;
                        left: -110%;
                    }

                    ::before {
                        width: 100%;
                        height: 2px;
                        content: "";
                        background: $wish-dark-grey;
                        position: absolute;
                        top: 50%;
                        right: -110%;
                    }
                }

                .terms {
                    text-align: center;
                    color: $wish-blue;
                    font-family: 'roboto';
                    cursor: pointer;
                    transform: translateY(-20px);
                }

                .password {
                    width: 80%;
                    position: relative;

                    .password-logic {
                        width: 100%;
                        height: 200px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        position: absolute;
                        background: #fff;
                        border: 2px solid $wish-dark-grey;
                        z-index: 99;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 20px;

                        .range {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: $wish-dark-grey;
                            display: block;
                        }

                        .logic-content {
                            height: 15px;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-family: 'roboto';
                        }
                    }

                    input {
                        width: 100%;
                    }
                }

                input {
                    width: 80%;
                    height: 30px;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid $wish-dark-grey;
                    font-size: 18px;
                    font-family: 'roboto';
                    padding-left: 15px;
                }

                .show-password {
                    width: 80%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-family: 'roboto';

                    .checkbox {
                        width: 15px;
                    }
                }

                .gender {
                    display: flex;
                    transform: translateX(-150%);
                    justify-content: flex-start;
                    align-items: center;
                }

                button {
                    @include button(60%, 30px)
                }

                button:hover {
                    background: #fff;
                    color: $wish-blue;
                }
            }

            .sign-up-div {
                border-top: 1px solid $wish-dark-grey;
                margin-top: 20px;
                padding-top: 10px;
                display: flex;
                justify-content: center;
                gap: 20px;

                .sign-up-btn {
                    color: $wish-blue;
                    cursor: pointer;
                }
            }
        }
    }
}