@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.notification {
    width: 100%;
    height: 100vh;

    header {
        height: 20%;
        background: $wish-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-top: 20px;

        h1 {
            font-family: 'elsie';
            color: #fff;
        }

        p {
            font-size: 18px;
            color: #fff;
            font-family: 'roboto';
        }
    }

    section {
        width: 100%;
        display: flex;

        .title {
            font-family: 'elsie';
            color: $wish-blue;
        }

        .left {
            padding-top: 30px;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            border-right: 1px solid $wish-dark-grey;
            border-bottom: 1px solid $wish-dark-grey;

            .content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                padding: 0 10px 10px;
                gap: 10px;

                @media(max-width: 950px) {
                    display: flex;
                    flex-direction: column;
                }

                .friend-content {
                    height: 80px;
                    border: 1px solid $wish-dark-grey;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                    justify-content: space-around;

                    @media(max-width: 550px) {
                        padding-left: 0;
                    }

                    .friend-image {
                        cursor: pointer;
                        @include image(70px, 70px, $wish-blue)
                    }

                    button {
                        width: 70px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        font-size: 16px;
                        border: none;
                        background-color: $wish-blue;
                        cursor: pointer;
                        color: #fff;
                        border-radius: 10px;

                        .icon {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .right {
            padding-top: 30px;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            border-left: 1px solid $wish-dark-grey;
            border-bottom: 1px solid $wish-dark-grey;

            .content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 100%;
                padding: 0 10px 10px;
                gap: 10px;

                @media(max-width: 950px) {
                    display: flex;
                    flex-direction: column;
                }

                .friend-content {
                    height: 80px;
                    border: 1px solid $wish-dark-grey;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                    justify-content: space-around;

                    @media (max-width: 550px) {
                        padding-left: 0;
                    }

                    .friend-image {
                        cursor: pointer;
                        @include image(70px, 70px, $wish-blue)
                    }

                    button {
                        width: 80px;
                        height: 20px;
                        display: flex;
                        gap: 10px;
                        align-items: center;
                        justify-content: center;
                        font-size: 16px;
                        color: #fff;
                        border: none;
                        background-color: $wish-blue;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}