@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.post-content {
    width: 50%;
    min-height: 500px;
    border: 1px solid $wish-dark-grey;
    border-radius: 10px;
    box-shadow: 0 0 15px $wish-dark-grey;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 650px) {
        width: 80%;
    }

    @media (max-width: 400px) {
        width: 90%;
    }

    .post-content-header {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .post-user-image {
            cursor: pointer;
            @include image(50px, 50px, $wish-blue)
        }
    }

    .desc {
        border-bottom: 1px solid $wish-dark-grey;
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 5px 0;

        h3 {
            font-family: 'roboto';
        }
    }

    .post-content-image {
        width: 80%;
        height: 80%;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;

        @media(max-width: 550px) {
            height: auto;
        }


        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .post-content-bottom {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        font-size: 30px;

        .icon {
            cursor: pointer;
        }
    }
}