@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.post-content {
    width: 50%;
    max-width: 500px;
    border: 1px solid $wish-dark-grey;
    border-radius: 10px;
    box-shadow: 0 0 15px $wish-dark-grey;
    display: flex;
    flex-direction: column;

    @media (max-width: 650px) {
        width: 80%;
    }

    @media (max-width: 400px) {
        width: 90%;
    }

    .post-content-header {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .post-user-image {
            cursor: pointer;
            @include image(50px, 50px, $wish-blue)
        }
    }

    .post-content-image {
        width: 100%;
        height: 80%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .post-content-bottom {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        font-size: 30px;

        .icon {
            cursor: pointer;
        }
    }
}