@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.main {
    width: 100%;
    display: flex;

    .left {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;

        @media(max-width: 950px) {
            width: 100%;
        }

        .top {
            max-width: 70%;
            height: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media(max-width: 650px) {
                max-width: 100%;
            }

            h3 {
                font-family: 'elsie';
            }

            .top-content {
                width: 100%;
                height: 100%;
                border: 1px solid $wish-dark-grey;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $wish-blue;
                gap: 2%;

                .topuser {
                    cursor: pointer;
                }
            }

            .topten {
                font-family: 'roboto';
                cursor: pointer;

            }
        }
    }

    .right {
        width: 20%;
        border-left: 1px solid $wish-dark-grey;
        background-color: $wish-blue;
        height: 400px;
        border-bottom-left-radius: 30px;

        @media(max-width: 950px) {
            display: none;
        }

        .user {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-top: 50px;

            .user-image {
                @include image(100px, 100px, #fff)
            }

            .user-name {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: 'roboto';
                color: #fff;
            }
        }

        .notification {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            border-top: 1px solid $wish-dark-grey;

            h3 {
                color: #fff;
                font-family: 'elsie';
            }
        }
    }
}