@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.Circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main {
    width: 100%;
    display: flex;

    .image-popup {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        background: rgba(36, 36, 36, 0.687);
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width: 550px) {
            width: 100%;
        }

        .image-content {
            width: 80%;
            height: 90%;
            border-radius: 20px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            @media(max-width: 550px) {
                height: auto;
            }

            img {
                width: 100%;
                border-radius: 20px;
            }
        }
    }

    .left {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;

        @media(max-width: 950px) {
            width: 100%;
        }

        .top {
            width: 70%;
            height: 150px;
            border: 1px solid $wish-dark-grey;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            background: $wish-blue;

            h3 {
                font-family: 'elsie';
                color: #fff;
            }

            .top-ten {
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .top-content {
                width: 90%;
                height: 100px;
                border-radius: 20px;
                overflow-x: auto;
                background: #fff;
                display: flex;
                gap: 20px;
                padding: 0 20px;
                align-items: center;

                .top-post-content {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    align-items: center;

                    .top-post-avatar {
                        cursor: pointer;
                        @include image(60px, 60px, $wish-blue)
                    }
                }
            }
        }

        .section {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            padding-top: 30px;
            padding-bottom: 50px;
        }
    }

    .right {
        width: 20%;
        border-left: 1px solid $wish-dark-grey;
        background-color: $wish-blue;
        height: 400px;
        border-bottom-left-radius: 30px;

        @media(max-width: 950px) {
            display: none;
        }

        .user {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: 50px;

            .user-image {
                @include image(100px, 100px, #fff)
            }

            .user-name {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-family: 'roboto';
                color: #fff;
            }
        }

        .user-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            border-top: 1px solid $wish-dark-grey;
            padding-top: 10px;
            gap: 10px;

            h4 {
                color: #fff;
                font-family: 'roboto';
            }
        }
    }
}