@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.recover-password {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .recover-content {
        width: 500px;
        min-height: 500px;
        border: 3px solid $wish-dark-grey;
        box-shadow: 0 0 15px $wish-dark-grey;
        border-radius: 20px;
        overflow: hidden;

        .top {
            background: $wish-blue;
            display: flex;
            justify-content: center;

            .logo {
                width: 200px;
                height: 200px;
                border-bottom-right-radius: 50%;
                border-bottom-left-radius: 50%;
                overflow: hidden;
            }
        }

        .section {
            padding: 30px;

            h1 {
                text-align: center;
                font-family: 'elsie';
            }

            p {
                text-align: center;
                font-family: 'roboto';
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;
                margin-top: 20px;

                .password {
                    width: 80%;
                    position: relative;

                    .password-logic {
                        width: 100%;
                        height: 200px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        position: absolute;
                        background: #fff;
                        border: 2px solid $wish-dark-grey;
                        z-index: 99;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 20px;

                        .range {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background: $wish-dark-grey;
                            display: block;
                        }

                        .logic-content {
                            height: 15px;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                            font-family: 'roboto';
                        }
                    }

                    input {
                        width: 100%;
                    }
                }

                input {
                    width: 80%;
                    height: 30px;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid $wish-dark-grey;
                    font-size: 18px;
                    font-family: 'roboto';
                    padding-left: 15px;
                }

                .show-password {
                    width: 80%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-family: 'roboto';

                    .checkbox {
                        width: 15px;
                    }
                }


                button {
                    @include button(60%, 30px)
                }

                button:hover {
                    background: #fff;
                    color: $wish-blue;
                }
            }

        }
    }
}