@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.messenger {
    width: 90%;
    height: 100vh;
    display: flex;

    @media(max-width:750px) {
        width: 100%;
        height: 100vh;
    }

    .left {
        width: 70%;

        @media(max-width: 750px) {
            width: 100%;
        }

        header {
            height: 20%;
            background-color: $wish-blue;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            .user-image {
                @include image(100px, 100px, #fff)
            }

            .user-info {
                color: #fff;
                font-family: 'elsie';
            }
        }

        section {
            height: 68%;
            overflow-y: auto;

            .message-content {
                min-height: 70px;
                margin: 10px 0;
                position: relative;

                .content {
                    width: 50%;
                    height: 100%;
                    border: 1px solid $wish-dark-grey;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    justify-content: space-between;
                }
            }
        }

        footer {
            height: 10%;
            border-top: 1px solid $wish-dark-grey;

            form {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                input {
                    width: 70%;
                    height: 70%;
                    border-radius: 20px;
                    outline: none;
                    border: 1px solid $wish-dark-grey;
                    padding-left: 20px;
                    font-size: 18px;
                    font-family: 'roboto';
                }

                button {
                    border: none;
                    background: none;
                    font-size: 25px;
                    transform: translateX(-40px);
                    cursor: pointer;
                }
            }
        }
    }

    .right {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 20px;
        border-left: 1px solid $wish-dark-grey;

        @media(max-width: 750px) {
            display: none;
        }

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            font-family: 'elsie';
            border-bottom: 1px solid $wish-dark-grey;
            width: 100%;

            .user-image {
                @include image(150px, 150px, $wish-blue)
            }
        }

        .section {
            width: 100%;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .user-content {
                width: 80%;
                height: 70px;
                border: 1px solid $wish-dark-grey;
                border-radius: 10px;
                display: flex;
                align-items: center;
                cursor: pointer;

                .left {
                    @include image(60px, 60px, $wish-blue)
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    font-family: 'roboto';
                    width: 70%;
                }
            }
        }

    }
}