@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0 100px;

    .title {
        font-family: 'elsie';
        border-bottom: 2px solid $wish-dark-grey;
        padding-bottom: 5px;
        text-align: center;
    }

    section {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .left,
        .right {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}