@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.search {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .header {
        padding: 20px 0;
        background-color: $wish-blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .title {
            font-family: 'elsie';
            color: #fff;
        }

        .search-input {
            width: 100%;
            display: flex;
            justify-content: center;

            input {
                width: 60%;
                height: 40px;
                border-radius: 20px;
                border: none;
                padding-left: 20px;
                font-size: 20px;
                font-family: 'roboto';
                background-color: $wish-grey;
                outline: none;

                @media(max-width: 550px) {
                    padding-left: 10px;
                }
            }

            input::-webkit-input-placeholder {

                @media(max-width: 550px) {
                    font-size: 14px;
                }
            }
        }
    }

    .search-display {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        @media(max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width: 550px) {
            display: flex;
            flex-direction: column;
        }

        .user-content {
            margin-top: 20px;
            background-color: $wish-grey;
            border-radius: 20px;
            display: flex;
            gap: 10%;
            cursor: pointer;

            .left {
                width: 20%;
                height: 70px;

                .user-image {
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $wish-blue;

                    img {
                        width: 90%;
                        height: 90%;
                        border-radius: 50%;
                    }
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 20px;
            }
        }
    }

}