@import './scss/mixin';
@import './scss/variables';
@import './components/main/main';
@import './components/topUser/topUser';
@import './components/signin/signIn';
@import './components/signup/signUp';
@import './components/navbar/navbar';
@import './components/search/search';
@import './components/userByClick/userByClick';
@import './components/usernavbar/userNavbar';
@import './components/messenger/messenger';
@import './components/friends/friends';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.App {
    display: flex;

    @media(max-width: 550px) {
        flex-direction: column;
        height: 100vh;
    }
}