@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "clash";
  src: url("./fonts/ClashDisplay-Medium.ttf");
}
@font-face {
  font-family: "elsie";
  src: url("./fonts/Elsie-Regular.ttf");
}
.sign-in {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in .sign-in-content {
  width: 500px;
  min-height: 600px;
  border: 3px solid rgb(201, 201, 201);
  box-shadow: 0 0 15px rgb(201, 201, 201);
  border-radius: 20px;
  overflow: hidden;
}
.sign-in .sign-in-content .top {
  background: rgb(33, 92, 243);
  display: flex;
  justify-content: center;
}
.sign-in .sign-in-content .top .logo {
  width: 200px;
  height: 200px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  overflow: hidden;
}
.sign-in .sign-in-content .section {
  padding: 30px;
}
.sign-in .sign-in-content .section h1 {
  text-align: center;
  font-family: "elsie";
}
.sign-in .sign-in-content .section form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.sign-in .sign-in-content .section form .check {
  height: 50px;
  display: flex;
  align-items: center;
  font-family: "roboto";
  gap: 10px;
  position: relative;
}
.sign-in .sign-in-content .section form .check ::after {
  width: 100%;
  height: 2px;
  content: "";
  background: rgb(201, 201, 201);
  position: absolute;
  top: 50%;
  left: -110%;
}
.sign-in .sign-in-content .section form .check ::before {
  width: 100%;
  height: 2px;
  content: "";
  background: rgb(201, 201, 201);
  position: absolute;
  top: 50%;
  right: -110%;
}
.sign-in .sign-in-content .section form .check .checkbox {
  align-items: flex-start;
  width: 15px;
}
.sign-in .sign-in-content .section form input {
  width: 80%;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(201, 201, 201);
  font-size: 18px;
  font-family: "roboto";
  padding-left: 15px;
}
.sign-in .sign-in-content .section form button {
  width: 60%;
  height: 30px;
  border: none;
  background: rgb(33, 92, 243);
  border-radius: 10px;
  font-size: 20px;
  font-family: "roboto";
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 15px rgb(33, 92, 243);
  transition: 0.5s;
}
.sign-in .sign-in-content .section form button:hover {
  background: #fff;
  color: rgb(33, 92, 243);
}
.sign-in .sign-in-content .section form h5 {
  font-family: "roboto";
  cursor: pointer;
  color: rgb(33, 92, 243);
}
.sign-in .sign-in-content .section .sign-up-div {
  border-top: 1px solid rgb(201, 201, 201);
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.sign-in .sign-in-content .section .sign-up-div .sign-up-btn {
  color: rgb(33, 92, 243);
  cursor: pointer;
}

@font-face {
  font-family: "roboto";
  src: url("./fonts/Roboto-Thin.ttf");
}
@font-face {
  font-family: "clash";
  src: url("./fonts/ClashDisplay-Medium.ttf");
}
@font-face {
  font-family: "elsie";
  src: url("./fonts/Elsie-Regular.ttf");
}
.sign-up {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-up .sign-up-content {
  width: 500px;
  min-height: 600px;
  border: 3px solid rgb(201, 201, 201);
  box-shadow: 0 0 15px rgb(201, 201, 201);
  border-radius: 20px;
  overflow: hidden;
}
.sign-up .sign-up-content .top {
  background: rgb(33, 92, 243);
  display: flex;
  justify-content: center;
}
.sign-up .sign-up-content .top .logo {
  width: 200px;
  height: 200px;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  overflow: hidden;
}
.sign-up .sign-up-content .section {
  padding: 30px;
}
.sign-up .sign-up-content .section h1 {
  text-align: center;
  font-family: "elsie";
}
.sign-up .sign-up-content .section .reg-title {
  text-align: center;
  font-family: "roboto";
}
.sign-up .sign-up-content .section form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.sign-up .sign-up-content .section form .check {
  height: 50px;
  display: flex;
  align-items: center;
  font-family: "roboto";
  gap: 10px;
  position: relative;
}
.sign-up .sign-up-content .section form .check ::after {
  width: 100%;
  height: 2px;
  content: "";
  background: rgb(201, 201, 201);
  position: absolute;
  top: 50%;
  left: -110%;
}
.sign-up .sign-up-content .section form .check ::before {
  width: 100%;
  height: 2px;
  content: "";
  background: rgb(201, 201, 201);
  position: absolute;
  top: 50%;
  right: -110%;
}
.sign-up .sign-up-content .section form h5 {
  text-align: center;
  color: rgb(33, 92, 243);
  font-family: "roboto";
  cursor: pointer;
  transform: translateY(-20px);
}
.sign-up .sign-up-content .section form input {
  width: 80%;
  height: 30px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(201, 201, 201);
  font-size: 18px;
  font-family: "roboto";
  padding-left: 15px;
}
.sign-up .sign-up-content .section form .show-password {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "roboto";
}
.sign-up .sign-up-content .section form .show-password .checkbox {
  width: 15px;
}
.sign-up .sign-up-content .section form button {
  width: 60%;
  height: 30px;
  border: none;
  background: rgb(33, 92, 243);
  border-radius: 10px;
  font-size: 20px;
  font-family: "roboto";
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 15px rgb(33, 92, 243);
  transition: 0.5s;
}
.sign-up .sign-up-content .section form button:hover {
  background: #fff;
  color: rgb(33, 92, 243);
}
.sign-up .sign-up-content .section .sign-up-div {
  border-top: 1px solid rgb(201, 201, 201);
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.sign-up .sign-up-content .section .sign-up-div .sign-up-btn {
  color: rgb(33, 92, 243);
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}/*# sourceMappingURL=App.css.map */