@import './scss/mixin';
@import './scss/variables';
@import './components/main/main';
@import './components/signin/signIn';
@import './components/signup/signUp';
@import './components/navbar/navbar';
@import './components/settings/settings';
@import './components/search/search';
@import './components/userByClick/_userByClick';
@import './components/usernavbar/userNavbar';
@import './components/messenger/messenger';
@import './components/friends/friends';
@import './components/notification/notification';
@import './components/profile/profile';
@import './components/profileNavbar/_profileNavbar';
@import './components/profileInfo/profileInfo';
@import './components/profileImages/profileImages';
@import './components/profileClickImage/profileClickImage';
@import './components/userByClickImages/userByClickImages';
@import './components/userByclickImageItem/userByClickImageItem';
@import './components/userByClickFriends/userByClickFriends';
@import './components/mainPostItem/mainPostItem';
@import './components/topTenPosts/topTenPosts';
@import './pages/terms';
@import './pages/error';
@import './components/forgotPassword/forgotPassword';
@import './components/recoverPassword/recoverPassword';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.App {
    display: flex;

    @media(max-width: 550px) {
        flex-direction: column;
        min-height: 100vh;
    }
}