@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.settings {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 100px;

    header {
        height: 200px;
        background-color: $wish-blue;
        display: flex;
        justify-content: center;
        align-items: center;

        .header-title {
            color: #fff;
            font-family: 'elsie';
        }
    }

    section {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        .account-settings {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;

            .account-setting-header {
                width: 80%;
                text-align: center;
                font-family: 'roboto';
            }

            form {
                @include settingForm(80%);

                .left,
                .middle {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    input {
                        @include settingInput
                    }

                    @media(max-width: 700px) {
                        display: none;
                    }
                }

                .right {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    @media(max-width: 700px) {
                        gap: 10px;
                    }

                    .media {
                        display: none;

                        @media(max-width: 700px) {
                            display: block;
                        }
                    }

                    input {
                        @include settingInput
                    }
                }

                button {
                    @include settingBtn(130px, 30px)
                }

                button:hover {
                    box-shadow: 0 0 10px $wish-blue;
                }
            }
        }

        .security {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20px;

            .security-header {
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'roboto';
            }

            .change-email {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                h3 {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                form {
                    @include settingForm(80%, 120px);

                    @media (max-width:880px) {
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;
                    }

                    h4 {
                        font-family: 'roboto';
                    }

                    input {
                        @include settingInput
                    }

                    button {
                        @include settingBtn(130px, 30px)
                    }

                    button:hover {
                        box-shadow: 0 0 10px $wish-blue;
                    }
                }
            }

            .change-password {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                h3 {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                form {
                    @include settingForm(80%, 120px);

                    @media (max-width:880px) {
                        flex-direction: column;
                        height: 200px;
                        align-items: center;
                        gap: 20px;
                    }

                    input {
                        @include settingInput
                    }

                    .new-password {
                        position: relative;

                        .password-logic {
                            width: 150%;
                            height: 200px;
                            background: #fff;
                            border: 1px solid $wish-dark-grey;
                            border-bottom-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                            position: absolute;
                            bottom: -200px;
                            left: -25%;
                            z-index: 99;
                            padding: 10px;
                            display: flex;
                            flex-direction: column;
                            gap: 20px;

                            .logic-content {
                                display: flex;
                                gap: 10px;
                                height: 15px;
                                align-items: center;
                                font-family: 'roboto';

                                .range {
                                    display: block;
                                    width: 10px;
                                    height: 10px;
                                    background-color: $wish-dark-grey;
                                    border-radius: 50%;
                                }
                            }
                        }
                    }

                    button {
                        @include settingBtn(150px, 30px)
                    }

                    button:hover {
                        box-shadow: 0 0 10px $wish-blue;
                    }
                }
            }

            .delete-account {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                .delete-popup {
                    width: 300px;
                    height: 300px;
                    position: absolute;
                    top: -300px;
                    left: 50%;
                    border-radius: 20px;
                    transform: translateX(-50%);
                    background-color: #fff;
                    box-shadow: 0 0 10px $wish-dark-grey;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    h2 {
                        text-align: center;
                    }
                }

                h3 {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }

                form {
                    @include settingForm(80%, 120px);

                    @media(max-width: 880px) {
                        flex-direction: column;
                        height: 200px;
                        align-items: center;
                        gap: 20px;
                    }

                    input {
                        @include settingInput
                    }

                    button {
                        @include settingBtn(150px, 30px);
                        position: static;
                        transform: translateX(0);
                    }

                    button:hover {
                        box-shadow: 0 0 10px $wish-blue;
                    }
                }
            }
        }
    }
}