@include font('roboto', './fonts/Roboto-Thin.ttf');
@include font('clash', './fonts/ClashDisplay-Medium.ttf');
@include font('elsie', './fonts/Elsie-Regular.ttf');

.profile-click-image {
    width: 100%;
    display: flex;
    min-height: 100vh;

    .left {
        width: 70%;
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        @media(max-width: 750px) {
            width: 100%;
        }

        .header {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            align-items: center;

            .desc {
                h3 {
                    color: #fff;
                }
            }

            .icon {
                color: #fff;
                font-size: 25px;
                cursor: pointer;
            }

            .delete:hover {
                color: red;
            }
        }

        .content {
            display: flex;

            .image {
                width: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                border-radius: 10px;
                border-radius: 20px;
                overflow: hidden;

                @media(max-width: 550px) {
                    width: 90%;
                }

                img {
                    width: 80%;
                    border-radius: 20px;
                }
            }

            .prev,
            .next {
                width: 70px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                @media(max-width: 550px) {
                    width: auto;
                }

                .icon {
                    color: #fff;
                    font-size: 30px;
                    transition: .4s;
                }
            }

            .prev:hover .icon {
                color: grey;
            }

            .next:hover .icon {
                color: grey;
            }
        }

        .media-comment {
            overflow: hidden;
            background: #fff;
            width: 80%;
            border-radius: 10px;
            display: none;

            @media(max-width: 750px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                padding: 20px 0;

                .title {
                    width: 80%;
                    display: flex;
                    justify-content: center;
                    border-bottom: 1px solid $wish-dark-grey;

                    .toggle {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 22px;
                        cursor: pointer;
                    }
                }

                .comments-content {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;

                    form {
                        width: 100%;
                        display: flex;
                        justify-content: center;

                        input {
                            width: 70%;
                            min-height: 30px;
                            border: 1px solid $wish-dark-grey;
                            border-top-left-radius: 10px;
                            border-bottom-left-radius: 10px;
                            outline: none;
                            font-size: 16px;
                            padding-left: 15px;
                            font-family: 'roboto';
                        }

                        button {
                            width: 20%;
                            height: 30px;
                            background: $wish-blue;
                            border-top-right-radius: 10px;
                            border-bottom-right-radius: 10px;
                            color: #fff;
                            border: none;
                            font-size: 16px;
                            cursor: pointer;
                        }
                    }

                    .comments {
                        max-height: 180px;
                        overflow-y: auto;
                        width: 100%;
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: center;
                        gap: 20px;

                        .comment-component {
                            margin-top: 10px;
                            width: 80%;
                            min-height: 30px;
                            border-radius: 10px;
                            display: flex;
                            flex-direction: column;
                            gap: 5px;

                            .comment-header {
                                font-family: 'elsie';
                                border-bottom: 1px dashed $wish-dark-grey;
                                width: 100%;
                                text-align: center;
                            }

                            .comment {
                                padding: 5px;
                                font-family: 'roboto';
                                border-bottom: 1px solid $wish-dark-grey;
                            }
                        }
                    }


                    @media(max-width: 550px) {
                        width: 90%;
                    }
                }

                .likes-content {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    max-height: 180px;
                    overflow-y: auto;

                    .like-content {
                        border: 1px solid $wish-blue;
                        border-radius: 10px;
                        width: 70%;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                    }
                }

            }

        }
    }

    .right {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        gap: 10px;
        overflow-y: auto;

        @media(max-width: 750px) {
            display: none;
        }

        .title {
            width: 100%;
            border-bottom: 2px solid $wish-dark-grey;
            text-align: center;

            .toggle {
                font-size: 22px;
                cursor: pointer;
            }
        }

        .comments-content {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            form {
                width: 100%;
                display: flex;
                justify-content: center;

                input {
                    width: 90%;
                    min-height: 30px;
                    border: 1px solid $wish-dark-grey;
                    border-radius: 10px;
                    outline: none;
                    font-size: 16px;
                    padding-left: 15px;
                    font-family: 'roboto';
                }
            }

            .comments {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                gap: 20px;

                .comment-component {
                    width: 80%;
                    min-height: 30px;
                    border-bottom: 1px solid $wish-dark-grey;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .comment-header {
                        font-family: 'elsie';
                        border-bottom: 1px dashed $wish-dark-grey;
                        width: 100%;
                        text-align: center;
                    }

                    .comment {
                        padding: 5px;
                        font-family: 'roboto';
                    }
                }
            }

        }

        .likes-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .like-content {
                width: 70%;
                height: 30px;
                border-radius: 10px;
                border: 1px solid $wish-blue;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }

    }
}